<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="@Url.Action("Index","ShoppingCart")">
            <img src="~/Content/Images/cart.png" />
            购物车(<text id="cart-count">@ViewBag.Count</text>)
        </a>
    </li>
</ul>
